.large-hero {
    position: relative;

    &__text-content{
        position:absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        text-align: center;
    }

    &__title{
        font-weight: 300;
        color:#2f5572;
        font-size: 6.8rem;
        margin: 0%;
    }

    &__subtitle{
        font-weight: 300;
        color:#2f5572;
        font-size: 2.8rem;
        margin: 0%;
    }

    &__description{
        font-weight: 100;
        font-size: 1.875rem;
        color:#FFF;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
        max-width:30rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
    }
}





